.App {
  padding-top: 64px;
}
.temperature {
  text-align: center;
  font-size: 30px;
}
.location {
  text-align: center;
}
.locationInput {
  margin: auto;
  display: block;
}
.hidden {
  opacity: 0 !important;
}